# ----------------------------------------
# Logs
# ----------------------------------------
*.log
crash.log
crash.*.log

# ----------------------------------------
# IDEs
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# Terraform
# ----------------------------------------
**/.terraform/
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ----------------------------------------
# Helm
# ----------------------------------------
*.tgz

# ----------------------------------------
# Kubernetes
# ----------------------------------------
kubeconfig

# ----------------------------------------
# Operating System Files
# ----------------------------------------
Thumbs.db
.DS_Store